header {
  color: red;
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  position: static;
}

.play-area {
  height: 300px;
  width: 100%;
  margin: 25px 0px;
  padding: 25px 0px;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-area img {
  width:250px;
  padding: 25px 10px;
  height: auto;
}

.buttons {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.scorediv {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.scorebox {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.attack {
  width: 100px;
  height: 50px;
  background: grey;
  color: white;
  text-transform: capitalize;
}

.war {
  width: 100px;
  height: 50px;
  background: grey;
  color: white;
  text-transform: capitalize;
}

.active {
  background: red;
  font-weight: bold;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('img/b2.jpeg');
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}
